body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    border: 1px solid lightgray;
    position: relative;   
}

.board-field-id-display {
    position: absolute;
    left: 0;
    top: -20px;
    font-weight: bold;
}

.board-field {
    display: inline-block;
    vertical-align: top;
    height: 8vh;
    min-height: 50px;
    width: 8vh;
    min-width: 50px;
}

.field-dark {
    background-color: black;
}

.field-light {
    background-color: white;
}

.field-active {
    background-color: lightpink;
}

.board-pawn {
    height: 80%;
    width: 80%;
    margin: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pawn-light {
    background-color: beige;
}

.pawn-dark {
    background-color: rosybrown
}